# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\ekazu\develop\furniture-point-server\.idea/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
